/* Custom CSS */

/* banner */
.logo img {
    height: auto;
}

.bg-theme-grad {
    background-image: linear-gradient( to right, #23c99d 0%, #99B8DA 100% ) !important;
}

.btn-grp-after li a {
    color: white !important;
}
/* banner */


.toggle-sub {
    display: flex;
    justify-content: center;
}

.toggle-sub span {
    margin-right: 7px;
}

.input-switch:checked ~ label:before {
    background: #23c99d;
}

/* buttons */
.btn.btn-grad {
    border: white solid 1px;
}

/* footer */
.tc-light .wgs-title {
    color: white;
}

.tc-light .wgs-links li a:hover {
    color: white !important;
}
/* footer */